<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- CSS code needed to import getbootstrap's CSS-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous" />

    <link rel="stylesheet"
          type="text/css"
          th:href="@{/styleforest.css}"
    />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://res.cloudinary.com/doyle/image/upload/v1558026784/Blog/pandawave_kejtsf.jpg" width="35" height="35"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link active" href="/add">New Post</a>
            </li>
        </ul>
    </div>
</nav>

<div class="boxed">
    <div class="container w-25">
        <div class="card bg-white rounded shadow">
            <div class="card-body">
                <h5 class="card-title">Make a New Post</h5>
                <br class="card-text">
                <form action="#" th:action="@{/process}" th:object="${message}" method="post"
                      enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}"/>

                    Title</br>
                    <input type="text" th:field="*{title}"/>
                    <span th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}"></span></br></br>

                    Message</br>
                    <textarea rows="4" th:field="*{content}"/>
                    <span th:if="${#fields.hasErrors('content')}"
                          th:errors="*{content}"></span><br/></br>

                    Date </br>
                    <input type="date" th:field="*{postedDate}"/>
                    <span th:if="${#fields.hasErrors('postedDate')}"
                          th:errors="*{postedDate}"></span></br></br>

                    Sent by </br>
                    <input type="text" th:field="*{sentBy}"/>
                    <span th:if="${#fields.hasErrors('sentBy')}"
                          th:errors="*{sentBy}"></span></br></br>

                    <input type="file" name="file"/><br/><br/>
                    <input type="submit" value="Post!"/>
                </form>
                </p>

            </div>
        </div>
    </div>
</div>


<!-- JavaScript scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>